# App
NODE_ENV=production
PORT=3000
CORS_ORIGIN=https://tu-frontend.com,http://localhost:4200

# Auth
JWT_SECRET=change-this-with-a-long-random-secret
JWT_EXPIRES_IN=7d

# ML Service
ML_SERVICE_URL=https://ursinger-ml-api.onrender.com

# Database
DATABASE_URL=postgresql://user:password@host:5432/ursinger_db?schema=public
